/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;800&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --barva-titulku: #090909;
  --barva-textu: #393b3b;
  --barva-textu-light: #797979;
  --barva-kontejneru: #fbfbfb;
  --barva-kontejneru-alt: #ebebeb;
  --body-color: #fdfdfd;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.1rem;
  --h2-font-size: 1.15rem;
  --h3-font-size: 1.05rem;
  --normal-font-size: .9rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 600;
  --font-semi-bold: 800;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Proměnné tmavy režim ==========*/
body.tmavy-rezim {
  --barva-titulku: #f1f1f1;
  --barva-textu: #bebebe;
  --barva-kontejneru: #222;
  --barva-kontejneru-alt: #171515;
  --body-color: #2c2c2c;
}
/*========== Button tmavy/Light ==========*/
.zmena-modu {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--barva-textu);
  font-size: 1.2rem;
  cursor: pointer;
}

.zmena-modu:hover {
  color: var(--barva-titulku);
}
/*========== Font size variables to zmensi cv ==========*/
.zmensi-cv .zmena-modu,
.zmensi-cv .generuj-pdf {
  display: none;
}

.zmensi-cv .body-kontejner {
  max-width: 595px;
}

.zmensi-cv .section {
  padding: 1.75rem 0 0.8rem;
}

.zmensi-cv .section-title {
  margin-bottom: 0.75rem;
}

.zmensi-cv .resume__levaStrana,
.zmensi-cv .resume__pravaStrana {
  padding: 0 1rem;
}

.zmensi-cv .home__obrazek {
  width: 90px;
  height: 90px;
}

.zmensi-cv .home__kontejner {
  gap: 1.25rem;
}

.zmensi-cv .home__data {
  gap: 0.25rem;
}

.zmensi-cv .home__boxInfo,
.zmensi-cv .social__kontejner {
  gap: 0.5rem;
}


.zmensi-cv .home__ikona,
.zmensi-cv .social__ikona,
.zmensi-cv .zajmy__ikona {
  font-size: 1rem;
}

.zmensi-cv .vzdelani__kontejner,
.zmensi-cv .pracovniZkusenosti__kontejner,
.zmensi-cv .certifikaty__kontejner {
  gap: 1rem;
}

.zmensi-cv .vzdelani__casovaOsa,
.zmensi-cv .pracovniZkusenosti__casovaOsa {
  padding-right: 0.5rem;
}

.zmensi-cv .vzdelani__puntik,
.zmensi-cv .pracovniZkusenosti__puntik {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}

.zmensi-cv .vzdelani__linka,
.zmensi-cv .pracovniZkusenosti__linka {
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}

.zmensi-cv .vzdelani__data,
.zmensi-cv .pracovniZkusenosti__data {
  gap: 0.25rem;
}

.zmensi-cv .dovednosti__nazev {
  margin-bottom: var(--mb-1);
}

.zmensi-cv .zajmy__kontejner {
  column-gap: 1rem;
}

body.zmensi-cv  {
  --h1-font-size: 1rem;
  --h2-font-size: .88rem;
  --h3-font-size: .85rem;
  --normal-font-size: 0.7rem;
  --small-font-size: 0.65rem;
  --smaller-font-size: 0.55rem;
}

/*========== generuj PDF button ==========*/
.generuj-pdf {
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--barva-textu);
  cursor: pointer;
}

.generuj-pdf:hover {
  color: var(--barva-titulku);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--barva-textu);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--barva-titulku);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--barva-titulku) font-we var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.body-kontejner {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.trida-hlavicka {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }
}

.nav__logo,
.nav__toggle {
  color: var(--barva-titulku);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__polozka {
  text-align: center;
}

.nav__seznam {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__odkaz {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--barva-textu-light);
  font-weight: var(--font-medium);
}

.nav__odkaz:hover {
  color: var(--barva-titulku);
}

.nav__ikona {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Ukaž menu */
.ukaz-menu {
  bottom: var(--header-height);
}
/* Aktivní odkaz */
.aktivni-odkaz {
  color: var(--barva-titulku);
}

/*========== DOMŮ ==========*/
.home {
  position: relative;
}

.home__kontejner {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__obrazek {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__titulek {
  font-size: var(--h1-font-size);
}

.home__profese {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__profese span{
  font-weight: normal;
  color: var(--barva-textu-light);
}

.home__boxInfo {
  gap: 1rem;
}

.home__udaj {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__udaj a {
  color:var(--barva-textu);;
  cursor:auto;
}



.home__ikona {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home__tlacitko-cv {
  display: inline-block;
  border: 2px solid var(--barva-textu);
  color: var(--barva-titulku);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__tlacitko-cv:hover {
  background-color: var(--barva-textu);
  color: var(--barva-kontejneru);
}

/*========== SOCIÁLNÍ SÍTĚ ==========*/
.social__kontejner {
  grid-template-columns: max-content;
}

.social__odkaz {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--barva-textu);
}

.social__odkaz:hover {
  color: var(--barva-titulku);
}

.social__ikona {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

/*========== O MĚ ==========*/
.profile__popis {
  text-align: left;
}

/*========== VZDĚLÁNÍ A PRACOVNÍ ZKUŠENOSTI ==========*/
.vzdelani__obsah,
.pracovniZkusenosti__obsah {
  display: flex;
}

.vzdelani__casovaOsa,
.pracovniZkusenosti__casovaOsa {
  padding-right: 1rem;
}

.vzdelani__puntik,
.pracovniZkusenosti__puntik {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--barva-textu-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.vzdelani__linka,
.pracovniZkusenosti__linka {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--barva-textu-light);
  transform: translate(7px, 0);
}

.vzdelani__data,
.pracovniZkusenosti__data {
  gap: 0.5rem;
}


.vzdelani__titulek,
.pracovniZkusenosti__titulek {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.vzdelani__skola,
.pracovniZkusenosti__dobaAspolecnost {
  font-size: var(--small-font-size);
  color: var(--barva-titulku);
}

.vzdelani__rok {
  font-size: var(--smaller-font-size);
}



/*========== DOVEDNOSTI AND JAZYKY ==========*/
.dovednosti__obsah,
.jazyky__obsah {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.dovednosti__obsah {
  gap: 0;
}

.jazyky__obsah {
  gap: 0;
}

.dovednosti__nazev,
.jazyky__nazev {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.dovednosti__puntik,
.jazyky__puntik {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--barva-textu);
  border-radius: 50%;
  margin-right: 0.7rem;
}

/*========== CERTIFIKÁTY ==========*/
.certifikaty__titulek {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}


/*========== ZÁJMY ==========*/

.zajmy__kontejner {
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--mb-2);
}

.zajmy__obsah {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zajmy__ikona {
  font-size: 1.5rem;
  color: var(--barva-textu-light);
}

/* Scroll top ikonka */

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--barva-kontejneru-alt);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);

  transition: 0.4s;
  visibility: hidden;
}

.scrolltop__ikona {
  font-size: 1.2rem;
  color: var(--barva-textu);
}

.ukaz-scroll {
  bottom: 5rem;
  visibility: visible;
}
/*========== MEDIA QUERIES ==========*/

/* Pro malé zařízení, menu ve 2 sloupcích */
@media screen and (max-width: 320px) {
  .nav__seznam {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

/* Upravené styly pro zařízení větší než 968px */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .body-kontejner {
    margin-left: auto;
    margin-right: auto;
  }

  .trida-hlavicka,
  .scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--barva-kontejneru);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .resume__levaStrana {
    background-color: var(--barva-kontejneru-alt);
  }

  .resume__levaStrana,
  .resume__pravaStrana {
    padding: 0 1.5rem;
  }

  .generuj-pdf {
    display: inline-block;
  }

  .section-title,
  .profile__popis {
    text-align: initial;
  }

  .home__kontejner {
    gap: 1.5rem;
  }

  .home__tlacitko-cv {
    display: none;
  }



  .jazyky__obsah {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .zajmy__kontejner {
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }
}
